html {
  background: #000;
}

body {
  min-width: 1020px;
}

p {
  margin:0 0 10px 0;
}

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 680px;
  min-width: 1080px;
}

#holder {
  max-width: 1200px;
  height: 680px;
  margin: 20px auto;
  position: relative;
  z-index: 2;
  width: 85%;
  
  display: none;
  
  /* height: 100%; */
  
  /* margin: 50px auto;
  width: 1100px;
  height: 500px; */
}



#bg {
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: #000; */
  /* background-image: url('/photos/misc/intro.jpg');*/
  opacity:.95;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: -50%;
  width: 100%;
  height: 100%;
}

#bgshape {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  height: 100%;
  width: 100%;
  margin-left: -50%;

  -webkit-transition: -webkit-transform 1.5s .2s;
  -moz-transition: -moz-transform 1.5s .2s;

  -webkit-transform: rotate(-45deg) translate(-2000px, 0);
  -moz-transform: rotate(-45deg) translate(-2000px, 0);
}

#bgshape.show {
  -webkit-transform: rotate(-45deg) translate(0, 0);
  -moz-transform: rotate(-45deg) translate(0, 0);
}


#titlecard {
/*   position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 50px;
   */


}

#titlecard h1 {
  font-family: 'Unna', serif;
  color: #fff;
  font-size: 100px;
  letter-spacing: 2px;
  line-height: 1;
  position: absolute;
  top: 50px;
  left: 50px;
  margin: 0;
  -webkit-transition: -webkit-transform 1.5s 1s;
  -moz-transition: -moz-transform 1.5s 1s;

  -webkit-transform: translate(-700px, 0);
  -moz-transform: translate(-700px, 0);
}

#titlecard h2 {
  font-family: 'Unna', serif;
  position: absolute;
  top: 270px;
  left: 118px;
  margin: 0;
  color: #d1e2e5;
  font-size: 40px;
  width: 250px;
  text-align: right;

  -webkit-transition: -webkit-transform 1.5s 1.5s;
  -moz-transition: -moz-transform 1.5s 1.5s;

  -webkit-transform: translate(-600px, 0);
  -moz-transform: translate(-600px, 0);
}

#intro {
  font-family: 'Signika Negative', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  width: 380px;
  color: #fff;
  position: absolute;
  right: 140px;
  bottom: 80px;
  z-index: 3;

  -webkit-transition: -webkit-transform 1.5s 2s;
  -moz-transition: -moz-transform 1.5s 2s;

  -webkit-transform: translate(600px, 0);
  -moz-transform: translate(600px, 0);

}

#intro p {
  margin: 0 0 20px 0;
}

#intro.closed,
#titlecard.closed h1,
#titlecard.closed h2,
#bgshape.closed {

  -webkit-transition: -webkit-transform 1s .2s;
  -moz-transition: -moz-transform 1s .2s;
}

#intro.show,
#titlecard.show h1,
#titlecard.show h2,
#menu.show li {

  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
}

#start {
  font-family: 'Signika Negative', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 26px;
  padding: 10px 15px;
  background: transparent;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

  -webkit-transition: -webkit-transform 1.5s 2.5s;
  -moz-transition: -moz-transform 1.5s 2.5s;

  -webkit-transform: translate(600px, 0);
  -moz-transform: translate(600px, 0);
}

.show #start {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    background: #070707;
}

.closed #start {
  -webkit-transition: -webkit-transform .5s 0;
  -moz-transition: -moz-transform .5s 0;
}

#start:hover {
  background: #404040;
}

#start:active {
  background: #5f5f5f;
}

#menu {
  position: absolute;
  left: 40px;
  bottom: 50px;
  width: 140px;
  margin: 0;
  padding: 0;
  z-index: 2;
}

#menu li {
  display: block;
  list-style: none;
  padding: 5px 5px;
  width: 150px;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;

  -webkit-transform: translate(-600px, 0);
  -moz-transform: translate(-600px, 0);
  text-transform: uppercase;
}

#menu li a {
  display: inline-block;  
  color: #fff;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 14px;
  text-decoration: none;
  position: relative;
}

#menu .toggle {
  width: 130px;
  padding-left: 5px;
}

#menu .travel {
  width: 10px;
  height: 12px;
}

#menu li:nth-child(2) {
  -webkit-transition: -webkit-transform 1s .25s;
  -moz-transition: -moz-transform 1s .25s;
}

#menu li:nth-child(3) {
  -webkit-transition: -webkit-transform 1s .5s;
  -moz-transition: -moz-transform 1s .5s;
}

#menu li:nth-child(4) {
  -webkit-transition: -webkit-transform 1s .75s;
  -moz-transition: -moz-transform 1s .75s;
}

#menu li:nth-child(5) {
  -webkit-transition: -webkit-transform 1s 1s;
  -moz-transition: -moz-transform 1s 1s;
}

#menu li:nth-child(6) {
  -webkit-transition: -webkit-transform 1s 1.25s;
  -moz-transition: -moz-transform 1s 1.25s;
}

#menu li:nth-child(7) {
  -webkit-transition: -webkit-transform 1.5s 1.5s;
  -moz-transition: -moz-transform 1s 1.5s;
}

#menu li.off {
  background-color: rgba(0,0,0,.7) !important;
}

#follower {
  background: url(../img/follower-bg.png) center top repeat-y;
  display: inline-block;
  position: absolute;
  bottom: 26px;
  left: 0;
  height: 100%;
  z-index: 1;

  margin-left: -12px;
  display: none;

  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid rgba(0, 0, 0, 1);
}

#timeline-holder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  background: rgba(0,0,0,1);  
  height: 26px;

  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;

  -webkit-transform: translate(0, 50px);
  -moz-transform: translate(0, 50px);
}



#timeline-holder.show {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
}

#timeline {
  display: block;
  margin: 0;
  padding: 0;

  width: 1020px;
  margin: 0 auto;

}

#timeline li {
  float: left;
  color: #fff;
  list-style: none;
  font-family: 'Unna', serif;
  font-size: 20px;
  padding-top: 1px;
  position: relative;

}

#timeline li:before {
  position: relative;
  display: inline-block;
  background: rgba(0,0,0,.5);  
  height: 10px;
  width: 2px;
  left: 50%;
  top: -15px;

  content: '';
}

#end {
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 90%;
  height: 100%;
  z-index: 5;
  display: none;
  color: #fff;  
}

#end-arrow {
  position: fixed;

  left: 91%;
  top: 100px;

  width: 21px;
  height: 41px;
  z-index: 4;
  display: none;

  margin-top: -13px;

  background-image: url('../img/rightarrow.png');
  background-repeat: no-repeat;
}

.left { 
  float: right; 
  width: 380px;
  margin-right: 100px; 
  margin-top: 50px;
}

.right { 
  float: right;
  margin-right: 50px; 
  width: 300px;
  margin-top: 50px;
}

#end-name {
  font-size: 75px;
  position: absolute;
  right: 50px;
  bottom: 50px;
}
#end-close {
  background: url(../img/tip-close.png) 0 0 no-repeat;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  cursor: pointer;
  width: 12px;
  height:12px;
}

#tip {
  color: #fff;
  font-size: 14px;
  -webkit-transition: left .5s, top .5s;
  -moz-transition: left .5s, top .5s;
  width: 300px;
  z-index: 3;
}

#tip h3 {
  font-family: 'Unna', sans-serif;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 5px 0;
}

#tip p {
  font-family: 'Signika Negative', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.35;
}

#tip-close {
  background: url(../img/tip-close.png) 0 0 no-repeat;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  cursor: pointer;
  width: 12px;
  height:12px;
}

#tip-close:hover {
  opacity: .8;
}

#source {
  background: #000;
  padding: 5px 10px;
  display: block;
  position: absolute;
  right: 20px;
  bottom: 50px;
  font-size: 10px;
  color: #fff;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 300;
  opacity: .5;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 3;
  display: none;
}

#source:hover {
  opacity: 1;
}

.station {
  cursor: pointer;  
}

/* http://davidwalsh.name/css-tooltips */
/* base CSS element */
.tip {
  background: rgba(0, 0, 0, 0.8);

  /* 
  border: 1px solid #ccc; 
  border-radius: 8px;
  */

  padding: 7px 10px 0 10px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  font-size: 12px;

  display: none;
  margin-left: 5px;

  margin-top: 28px;
}

.tip.left {
  margin-left: -12px;
}

.tip.above {
  margin-top: -20px;
}

/* below */
/* .tip:before {
  position: absolute;
  display: inline-block;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid rgba(0, 0, 0, 0.8);
  border-left-color: rgba(0, 0, 0, 0.2);

  left: 0;
  top: -10px;

  content: '';
} */

.tip:after {
  position: absolute;
  display: inline-block;
  border-top: 9px solid transparent;
  border-right: 9px solid transparent;
  border-left: 12px solid rgba(0, 0, 0, 0.8);
  left: 0;
  top: -9px;

  content: '';
}

/* above */
.tip.above:after {
  border-right: 9px solid transparent;
  border-bottom: none;
  border-top: 9px solid rgba(0, 0, 0, 0.8);
  border-left: none;
  top: 100%;
}

.tip.left:after
{
  border-bottom: 9px solid transparent;
  border-left: 9px solid transparent;
  border-right: 12px solid rgba(0, 0, 0, 0.8);
  left: auto;
  right: 0;
}

.tip.left.above:after
{
  border-left: 9px solid transparent;
  border-bottom: none;
  border-top: 9px solid rgba(0, 0, 0, 0.8);
  border-right: none;
  top: 100%;
}


.tip.show, .tip.on {
  display: block;
}

.nopointer {
  pointer-events: none;
}


/* http://nicolasgallagher.com/pure-css-gui-icons/demo/default.css */

.travel:before,
.travel:after {
    content:"";
    position:absolute;
    top:50%;
    right:-10px;
}

.pause:before {
    width:16px;
    height:16px;
    /* css3 */
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    border-radius:16px;
}

.pause:after {
    left:0px;
    width:4px;
    height:15px;
    border:3px solid #fff;
    border-width:0 3px;
    margin-top:-7px;
    background:transparent;
}

.play:before {
    width:16px;
    height:16px;
    /* css3 */
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    border-radius:16px;
}

.play:after {
    left:0;
    border:8px solid transparent;
    border-left-color:#fff;
    margin-top:-7px;
    background:transparent;
}

.stop:before {
    width:16px;
    height:16px;
    /* css3 */
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    border-radius:16px;
}

.stop:after {
    left:5px;
    width:6px;
    height:6px;
    margin-top:-3px;
    background:#fff;
}

@media screen and (max-height:710px) {
  
  #titlecard h1 {
    font-size: 80px;
  }
  
  #titlecard h2 {
    font-size: 36px;
  }

}